html, body {
    overflow-x: hidden;
}

.title-bar {
    height: 57px;
    background-color: #66C5CC;
    border-bottom: 7px solid #FFF;
}

.title-bar-line {
    height: 7px;
    background-color: #66C5CC;
}

.title-bar .glyphicon {
    cursor: pointer;
    font-size: 26px;
    color: #FFF;
}

.titles {
    width: 100%;
    text-align: center;
    padding: 0px 310px;
}

h1 {
    font-size: 15px;
    text-align: center;
    padding: 0px;
    margin: 10px;
    z-index: 100;
}

h2 {
    font-size: 2.5vw;
    text-align: center;
    margin: 10px;
    font-weight: normal;
    z-index: 100;
}

.glance {
    margin-top: -20px;
}

.insights {
    text-align: center;
}

.insights {
    padding-top: 8px;
}

.slides {
    height: auto;
    min-height: 429px;
    background-color: #86D6F2;
    position: relative;
    color: #FFF;
    padding-bottom: 32px;
}

.nav-square {
    height: 158px;
    width: 158px;
    display: inline-block;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
}

.nav-square img {
    vertical-align: baseline;
}

.orange {
    background-color: #F79321;
}

.orange-grey {
    background-color: #E2D5CD;
}

.blue {
    background-color: #66C5CC;
}

.white {
    background-color: #F1F1F2;
}

.lgt-blue {
    background-color: #A6D0D9;
}

.grey {
    background-color: #C5C7C9;
}

#chartArea {
    text-align: center;
    z-index: 20;
    margin-top: -10px;
    position: relative;
}

#onlineShare {
    display: inline-block;
}

#DACLContainer {
    display: none;
    position: absolute;
    width: 100%;
    top: 0px;
}

#DACLContainer .title {
    width: 100%;
    float: left;
    font-size: 12px;
    padding: 15px 25px;
}

#digitally_active {
    text-align: center;
}

.dacl-box {
    background-color: #9edef5;
    width: 213px;
    height: 267px;
    opacity: 0.9;
    display: inline-table;
    margin-right: 60px;
}

.dacl-box:last-child {
    margin-right: 0px;
}

.dacl-title {
    padding: 10px 25px;
}

.dacl-box div:not(.trend) {
    paddding: 10px 15px 0px;
}

.dacl-total {
    font-size: 25px;
}

.dacl-total-name {
    margin-top: -17px;
    color: #6bb4d0;
    font-size: 14px;
    padding: 10px 5px 0px;
}

.ct-series-a .ct-bar {
    stroke-width: 20px;
    stroke-dasharray: 20px;
    stroke-linecap: square;
}

.ct-series-a .ct-bar:first-child {
    stroke: #af5a7e;
}

.ct-series-a .ct-bar:nth-child(2) {
    stroke: #CE5837;
}

.ct-label {
    color: #FFF!important;
    position: relative;
    top: 9px;
}

.ct-label.ct-vertical {
    color: #000!important;
}

#online_share {
    height:265px;
}

#online_share .ct-series-a .ct-bar {
    stroke: #1F7781;
}

#online_share .ct-label.ct-vertical {
    color: #FFF!important;
    font-size: 14px;
    margin-right: 10px;
}

#online_share .ct-label.ct-horizontal {
    font-size: 12px;
}

#online_share .ct-barlabel {
    color: #FFF!important;
    font-size: 26px;
}

#online_share .ct-barlabel-share {
    color: #FFF!important;
    font-size: 18px;
}

.ct-grids line {
    stroke: #FFF;
    stroke-width: 2px;
    stroke-dasharray: 1px;
    stroke-linecap: square;
}

.swipe {
    overflow: hidden;
    vvvisibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
}

.gfx-container {
    height: 115px;
    font-size: 10px;
    position: relative;
}

.gfx-container .col-xs-6 {
    height: 100%;
    padding: 0px;
}

.gfx-container .col-xs-6:first-child {
    padding-left: 15px;
}

.gfx-container .col-xs-6:last-child {
    padding-right: 15px;
}

.gfx-container .col-xs-6 div {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: inherit;
}

.white-men, .red-men {
    float: left;
    text-align: left;
    padding: 0px 42px;
    min-width: 90%;
}

.white-men div, .red-men div {
    width: 100%;
}

.white-men img:first-child, .red-men img:first-child {
    padding-left: 5px;
}

.white-men img:nth-child(10), .red-men img:nth-child(10) {
    padding-right: 5px;
}

@media only screen and (min-width: 320px) {
    .dacl-box {
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .dacl-box:last-child {
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 480px) {
    .dacl-box {
        margin-right: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .dacl-box {
        margin-right: 0px;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 992px) {
    .dacl-box {
        margin-right: 60px;
        margin-bottom: 0px;
    }
}

#digitally_active {

}

#digitally_active div {

}

#TDACChart {
    margin: 50px 0px 0px 30px;
}

.measure-total {
    font-size: 22px;
}

.measure-subtitle {
    color: #66C5CC;
    margin-top: -8px;
}

.trend {
    height: 22px;
    margin-left: 53px;
    width: 104px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#83ae56+49,99bd74+55 */
    background: #83ae56; /* Old browsers */
    background: -moz-linear-gradient(top, #83ae56 49%, #99bd74 55%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #83ae56 49%, #99bd74 55%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #83ae56 49%, #99bd74 55%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#83ae56', endColorstr='#99bd74', GradientType=0); /* IE6-9 */
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    padding-top: 4px;
    margin-top: 10px;
}

#online_shares .input-group {
    margin-bottom: 15px;
}

/* BS overrides */

.panel {
    margin-top:15px;
}

.panel-success .panel-heading,
.panel-success .panel-footer {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-danger {
    border-color: #eed3d7;
}
.panel-danger .panel-heading,
.panel-danger .panel-footer {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    font-weight: bold;
}

.input-group-addon {
    width: 80px;
    font-weight: bold;
}