.page {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.login {
    max-width: 50%;
    background: #9edef5;
    margin-top: -50px;
}

@media only screen and (max-width: 480px) {
    .login {
        max-width: 100%;
    }
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}