.balloon {
    position: absolute;
    right: 100px;
    top: 50px;
    -webkit-animation: floatballoon 10s linear infinite;
    -moz-animation: floatballoon 10s linear infinite;
    -o-animation: floatballoon 10s linear infinite;
    z-index: 2;
}

.cloud {
    position: absolute;
}

.cloud-1 {
    right: 130px;
    top: 50px;
}

.cloud-2 {
    right: 145px;
    top: 115px;
    z-index: 5;
    opacity: 0.9;
}

.cloud-3 {
    right: 50px;
    top: 85px;
    width: 80px;
    z-index: 3;
}

.cloud-4 {
    right: 300px;
    top: 10px;
    opacity: 0.8;
    -webkit-animation: movecloudleft 60s linear infinite;
}

.cloud-5 {
    left: 40px;
    top: 100px;
    opacity: 0.2;
    -webkit-animation: movecloudright 50s linear infinite;
    z-index: 1;
}

.cloud-6 {
    right: 10px;
    top: 10px;
}

.cloud-7 {
    right: 25px;
    top: 23px;
    width: 120px;
}

.cloud-8 {
    left: 15px;
    top: 80px;
    width: 120px;
}

.cloud-9 {
    left: 230px;
    top: 120px;
    z-index: 0;
}

.cloud-10 {
    left: 250px;
    top: 40px;
}
#onlineShare {
    width:100%;
    height:20%;
}
.cloud-11 {
    right: 330px;
    top: 20px;
}

.distant {
    opacity: 0.2;
}

.slide-control {
    position: absolute;
    z-index: 100;
    cursor:pointer;
    top: 50%;
}

.next-slide {
    right: 15px;
}

.pip-container {
    position: absolute;
    bottom: 9px;
    left: 0px;
    width: 100%;
    text-align: center;
}

.pip {
    width: 9px;
    height: 9px;
    background-color: #FFF;
    display: inline-block;
    margin-right: 2px;
    opacity: 0.5;
}

.pip:hover:not(.pip-active) {
    opacity: 1;
    cursor: pointer;
}

.pip-active {
    opacity: 1;
}

@-webkit-keyframes floatballoon {
    0%, 100% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease;
    }
    50% {
        transform: translate3d(0px, 20px, 0px);
        animation-timing-function: ease;
    }
}

@-webkit-keyframes movecloudright {
    0% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 0;
    }
    10%, 90% {
        opacity: 0.6;
    }
    100% {
        transform: translate3d(1000px, 0px, 0px);
        opacity: 0;
    }
}

@-webkit-keyframes movecloudleft {
    0% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 0;
    }
    10%, 90% {
        opacity: 0.7;
    }
    100% {
        transform: translate3d(-800px, 0px, 0px);
        opacity: 0;
    }
}